html {
  font-size: 62.5%; /* (62.5% * 16pt = 10pt) */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}
h1, p, figure {
    margin-block-end: 1rem;
}
h1 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
}
#special {}
.muotoiltu{
}
/* Tehdään kuvasta responsiivinen */
figure {
    display: block; /* 1. sääntö responsiiviselle kuvalle */
    border-radius: 1rem;
}
figure img {
    max-width: 100%; /* 2. sääntö responsiiviselle kuvalle */
    border-radius: 1rem 1rem 0 0;
}
figure figcaption{
    ext-align: center;
    padding: 0.5rem;
    background-color: burlywood;
    border-radius: 0 0 1rem 1rem;
}